@font-face {
    font-family: Poppins;
    src: url("C:\Users\kaiap\Downloads\Poppins\Poppins-Regular.ttf");
}

@font-face {
    font-family: Oswald;
    src: url("C:\Users\kaiap\Downloads\Oswald");
}


header {
    background-color: #363636;
    padding-top: 20px;
} 
.navbar ul{
    display: flex;
    list-style: none;
}

.navbar ul li {
    padding-left: 10px;
    padding-right: 10px;
}

.navbar ul li a{
    color:#ffffff;
}

.navbar ul li a:hover{
    color: #FBFFD1;
    text-decoration:underline;
}


.search{
    border-radius: 5px;
}

body{ 
    font-family: Poppins;
} 

.coverImg{
    width: 80%;
}

/* not working on h2,h3 */
h1{ 
    color: #86448C;
    font-family: Oswald;
}

#button {
    color: white;
    border-radius: 10px;
    background-color: #A264A8;
}

footer{
    padding-left: 20px;
    padding-right: 20px;
}
